<LinkTo
  @route="country"
  @model={{@data.CountryCode}}
  class="cards cards--flex cards--effects"
>
  {{#if @data.Country}}
    <div class="cards__heading">
      {{@data.Country}}
    </div>
  {{else}}
    <div class="cards__heading">
      Global
    </div>
  {{/if}}
  <div class="cards_body">
    {{#each-in this.sortByCase as |key value|}}
      <div
        class="bagdes bagdes--flex badges--span badges--mediaquery text-center customSize bg-red"
      >
        <span class="badges__heading">
          {{SpacePascalCase key}}
        </span>
        <span class="badges__body text-yellow-light">
          {{AddCommas value}}
        </span>
      </div>
    {{/each-in}}
  </div>
</LinkTo>
