
{{#if @model.Global}}
    <div class="row top-fix m-auto">
        <div class="column-1 col-center">
            <Cards @data={{@model.Global}} />
        </div>
        <div class="column-1 flex-center">
            <div class="searchbarWrapper">
                <div class="flex-center">
                    <span class="searchbar__heading">View By Country</span>
                </div>
                <div class="searchbar">
                    <span class="searchbar__icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </span>
                    <input type="text" placeholder="Search here" {{on "keyup"  this.changeTempData}}>
                </div>
                {{#if this.error_message}}
                    <div class="flex-center">
                        <span class="error">{{this.error_message}}</span>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="row m-auto">
        <div class="column-1  col-center colf-wrap space-evenly">        
            {{#each this.displayData as  |key|}} 
                <Cards @data={{key}} />
            {{/each}}  
        </div>
    </div>

    <button class="viewmore_button" {{on "click" this.viewMore}}>View More</button>
{{else}}
    <h1>Loading.....</h1>
{{/if}}
